Repository external-secrets/external-secrets, pull requests merged in 2022-02, with the labels that each got.

#661 feat(provider): implement fake provider
  apis/externalsecrets/v1alpha1/secretstore_fake_types.go
  apis/externalsecrets/v1alpha1/secretstore_types.go
  apis/externalsecrets/v1alpha1/zz_generated.deepcopy.go
  deploy/crds/external-secrets.io_clustersecretstores.yaml
  deploy/crds/external-secrets.io_secretstores.yaml
  docs/provider-fake.md
  docs/snippets/fake-provider-es.yaml
  docs/snippets/fake-provider-secret.yaml
  docs/snippets/fake-provider-store.yaml
  docs/spec.md
  hack/api-docs/mkdocs.yml
  pkg/controllers/externalsecret/externalsecret_controller_test.go
  pkg/provider/fake/fake.go
  pkg/provider/fake/fake_test.go
  pkg/provider/register/register.go
  pkg/provider/testing/fake/fake.go
Labels: area/testing, feature/new-provider

#700 oracle vault: Use instance principal if auth is empty
  apis/externalsecrets/v1alpha1/secretstore_oracle_types.go
  apis/externalsecrets/v1alpha1/zz_generated.deepcopy.go
  deploy/crds/external-secrets.io_clustersecretstores.yaml
  deploy/crds/external-secrets.io_secretstores.yaml
  docs/provider-oracle-vault.md
  docs/snippets/oracle-secret-store.yaml
  e2e/suite/oracle/provider.go
  go.mod
  go.sum
  pkg/provider/oracle/fake/fake.go
  pkg/provider/oracle/oracle.go
  pkg/provider/oracle/oracle_test.go
  pkg/utils/utils_test.go
Labels: area/oracle, feature/breaking-change

#723 fix: update github-script actions
  .github/workflows/e2e-managed.yml
  .github/workflows/e2e.yml
Labels: kind/bug

#701 feat: implement template engine v2
  Makefile
  apis/externalsecrets/v1alpha1/externalsecret_types.go
  deploy/crds/external-secrets.io_externalsecrets.yaml
  docs/guides-templating-v1.md
  docs/guides-templating.md
  docs/snippets/jwk-template-v2-external-secret.yaml
  docs/snippets/multiline-template-v1-external-secret.yaml
  docs/snippets/multiline-template-v2-external-secret.yaml
  docs/snippets/pkcs12-template-v1-external-secret.yaml
  docs/snippets/pkcs12-template-v2-external-secret.yaml
  docs/snippets/template-v1-from-secret.yaml
  docs/snippets/template-v2-from-secret.yaml
  docs/spec.md
  e2e/framework/framework.go
  e2e/suite/import.go
  e2e/suite/template/provider.go
  e2e/suite/template/template.go
  go.mod
  go.sum
  hack/api-docs/Dockerfile
  hack/api-docs/Makefile
  hack/api-docs/mkdocs.yml
  hack/api-docs/requirements.txt
  pkg/controllers/externalsecret/externalsecret_controller_template.go
  pkg/controllers/externalsecret/externalsecret_controller_test.go
  pkg/provider/webhook/webhook.go
  pkg/template/engine.go
  pkg/template/v1/template.go
  pkg/template/v1/template_test.go
  pkg/template/v2/_testdata/Makefile
  pkg/template/v2/_testdata/chain.pem
  pkg/template/v2/_testdata/disjunct-chain.pem
  pkg/template/v2/_testdata/disjunct-root-ca.crt
  pkg/template/v2/_testdata/disjunct-root-ca.key
  pkg/template/v2/_testdata/foo-disjunct-nopass.pfx
  pkg/template/v2/_testdata/foo-multibag-nopass.pfx
  pkg/template/v2/_testdata/foo-nopass.pfx
  pkg/template/v2/_testdata/foo-withpass-1234.pfx
  pkg/template/v2/_testdata/foo.crt
  pkg/template/v2/_testdata/foo.key
  pkg/template/v2/_testdata/intermediate-ca.crt
  pkg/template/v2/_testdata/intermediate-ca.key
  pkg/template/v2/_testdata/intermediate-chain.pem
  pkg/template/v2/_testdata/root-ca.crt
  pkg/template/v2/_testdata/root-ca.key
  pkg/template/v2/jwk.go
  pkg/template/v2/pem.go
  pkg/template/v2/pem_chain.go
  pkg/template/v2/pem_test.go
  pkg/template/v2/pkcs12.go
  pkg/template/v2/template.go
  pkg/template/v2/template_test.go
Labels: kind/feature, area/templating

#703 chore: cleanup az/keyvault provider
  pkg/provider/azure/keyvault/keyvault.go
  pkg/provider/azure/keyvault/keyvault_test.go
Labels: kind/cleanup

#745 docs(aws): describe how to use custom endpoints
  docs/snippets/provider-aws-access.md
Labels: area/aws, area/documentation

#749 docs: move release docs to mkdocs
  RELEASE.md
  docs/contributing-release.md
  hack/api-docs/mkdocs.yml
Labels: area/documentation
